<%- include('../header.ejs') %>
<div class="pokemon-container">
    <h1>Welcome to your Pokedex</h1>
    <% for(let i = 0; i < pokemon.length; i++) { %>
        <a href="/pokemon/<%= i %>">
            <img src=<%= pokemon[i].img %> alt='pokemon picture'>
            <h3>Name: <%= pokemon[i].name %></h3>
        </a>
        <hr>
    <% } %>

</div>
    </body>
    </html>