<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index_style.css">
    <title>Document</title>
</head>
<body>
    <h1>Pokémon</h1>
    <div class="pokedex" id="pokedex">
        <ul class="dex-page" id="dex-page">
            <% for( let i = 0+page*16; ((i < pokemon.length)&&(i<(page+1)*16)); i++ ) { %>
                <% const mon = pokemon[i] %>
                <li class="mon mon-<%= ("000"+i.toString()).slice(-3) %>" id="mon-<%= ("000"+i.toString()).slice(-4) %>">
                    <img src="<%= mon.img %>" height="100vh" alt="">
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>