<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Pokemon</title>
</head>
<body>
    <%- include("../partials/poke-nav.ejs") %>
    <form action="/pokemon" method="post">
        <div class="main" id="main">
            <h3>Main</h3>
            <label for="name">Name: </label>
            <input required type="text" name="name" id="name">
            <br>
            <br>
            <label for="id">ID Number: </label>
            <input required type="text" name="id" id="id">
            <br>
            <br>
            <label for="img">Image URL: </label>
            <input required type="text" name="img" id="img">
        </div>
        <br>
        <hr>
        <div class="types" id="types">
            <h3>Types</h3>
            <label for="type1">Primary Type: </label>
            <input required type="text" name="type1" id="type1">
            <br>
            <br>
            <label for="type2">Secondary Type (optional): </label>
            <input type="text" name="type2" id="type2">
        </div>
        <br>
        <hr>
        <div class="stats" id="stats">
            <h3>Stats</h3>
            <label for="hp">HP: </label>
            <input required type="text" name="hp" id="hp">
            <br>
            <br>
            <label for="attack">Attack: </label>
            <input required type="text" name="attack" id="attack">
            <br>
            <br>
            <label for="defense">Defense: </label>
            <input required type="text" name="defense" id="defense">
            <br>
            <br>
            <label for="spattack">Special Attack: </label>
            <input required type="text" name="spattack" id="spattack">
            <br>
            <br>
            <label for="spdefense">Special Defense: </label>
            <input required type="text" name="spdefense" id="spdefense">
            <br>
            <br>
            <label for="speed">Speed: </label>
            <input required type="text" name="speed" id="speed">
        </div>
        <br>
        <hr>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>