<%- include('../header.ejs', {name: pokeman.name}) %>
    <h1>This is an individual Pokemon</h1>
    <img src=<%= pokeman.img %> alt="pokemon image">
    <h2>Name: <%= pokeman.name %></h2>
</body>
</html>
