<%- include('../header.ejs', {name: pokemon.name}) %>
    <h1>This is an individual Pokemon</h1>
    <img src=<%= pokemon.image %> alt="pokemon image">
    <h2>Name: <%= pokemon.name %></h2>
</body>
</html>
