<%- include('./partials/header.ejs', {name: "Home Page"}) %>
    <h1>Pokemon</h1>
    <h2>Welcome! Take a look at my Pokemon collection by clicking the tabs above</h2>
    <h2>Enjoy </h2>
</body>
</html>