<nav class="poke-nav" id="poke-nav">
    <ul>
        <li>
            <a href="/pokemon" class="home-link">Home</a>
        </li>
        <li>
            <a href="/pokemon/new" class="post-link">Add New Pokémon</a>
        </li>
    </ul>
</nav>