<%- include('header.ejs', {name: "Delete this Pokemon"})%>

<body>
    <h1>Are you sure you want to delete <%= singlePokemon.name %>?</h1>
    <div class = 'show'>
        <img src=<%= singlePokemon.img %> alt="pokemon image">
        <div class="deleteBtns">
            <button>Yes</button>
            <button>No</button>
        </div>
</body>