

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(typeof name !== 'undefined') { %>
        <title><%= name %></title>
    <% } else { %>
        <title>---Pokedex---</title>
    <% } %>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/api">My API</a>
        <a href="/pokemon">My Pokemon</a>
        <a href="/pokemon/new">Make a new Pokemon!</a>
    </nav>