<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    
<header>
    <img style = "width: 200px" id = "logo" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"><br>

    <div id = "phrase">
        Gotta Catch Em All!
        <br>
        <button onclick = "window.location.href='http://localhost:4000/pokemon/new';">Make New</button> 
    </div>
</header>