<%- include('header.ejs') %>

<h1>Welcome to my Pokedex!</h1>
    <img src= <%='https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage-cdn.hypb.st%2Fhttps%253A%252F%252Fhypebeast.com%252Fimage%252F2023%252F03%252Fpokemon-ash-pikachu-final-episode-summary-new-season-trailer-info-000.jpg%3Ffit%3Dmax%26cbr%3D1%26q%3D90%26w%3D750%26h%3D500&tbnid=cppuBGXq1eWtkM&vet=12ahUKEwjwrenbm_j9AhVvKN4AHet5C0QQMygSegUIARCPAw..i&imgrefurl=https%3A%2F%2Fhypebeast.com%2Ftags%2Fpokemon&docid=X0FJN8He5sowYM&w=750&h=500&q=pokemon%20pictures&ved=2ahUKEwjwrenbm_j9AhVvKN4AHet5C0QQMygSegUIARCPAw' %> alt="pokemon image">


    
</body>
</html>
