<%- include('header.ejs', {name: "Pokedex"})%>

<h1>Welcome to my Pokedex!</h1>

<div class = 'homeImage'>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOooupChPOvEOrEeGtiAGoN_rpM5_sK8ZBlw&usqp=CAU"  alt="pokemon image">  
</div>

    
</body>
</html>
