<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header>
        <!--Pokédex Header-->
    </header>
    <main>
        <!--Pokédex-->
        <div class="pokedex">
            <div class="top">
                <div class="blue"></div>
                <div class="ryg">
                    <div class="red"></div>
                    <div class="yellow"></div>
                    <div class="green"></div>
                </div>
                <div class="topName">
                    <!--Top Name-->
                </div>
            </div>
            <div class="screenBorder">
                <div class="screen">
                    <div class="headerDiv">
                        <h3 class="title">Pokédex</h3>
                    </div>
                    <div class="slideshow">
                        <!--Sprite Slide Show-->
                        <img class="sprite" src="">
                    </div>
                    <div class="footerDiv">
                        <a href="/home">Start</a>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <!--D-Pad & A/B Buttons-->
                <div class="dpad">
                    <div class="dpad-up"><button class="up"></button></div>
                    <div class="dpad-down"><button class="down"></button></div>
                    <div class="dpad-left"><button class="left"></button></div>
                    <div class="dpad-right"><button class="right"></button></div>
                    <div class="dpad-middle"></div>
                </div>
                <div class="ab">
                    <!--A & B Buttons-->
                    <div class="bButton">
                        <button class="buttonB">B</button>
                    </div>
                    <div class="aButton">
                        <button class="buttonA">A</button>
                    </div>
                </div>
            </div>
            <div class="buttons2">
                <!--Bottom Buttons-->
                <div class="selectDiv">
                    <button class="select">Select</button>
                </div>
                <div class="startDiv">
                    <a href="/home"><button class="start">Start</button></a>
                </div>
                <div class="addDiv">
                    <button class="add">Add</button>
                </div>
                <div class="removeDiv">
                    <button class="remove">Remove</button>
                </div>
            </div>
            <div class="leftDiv">
                <div class="leftDivInside">
                    <div class="leftScreenBorder">
                        <div class="leftScreen">
                            <!--Pokemon Information Display-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightDiv">
                <div class="rightDivInside">
                    <div class="rightScreenBorder">
                        <div class="rightScreen">
                            <!--Other Display-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomDiv">
                <!--Info Box-->
            </div>
        </div>
    </main>
</body>
</html>