<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i = 0; i < 11; i++) { %>
        <% let idx = Math.floor(Math.random() * Pokemon.length) %>
    <h1> <a href="/pokemon/<%= [idx] %>"><img src="<%= Pokemon[idx].img %>" alt="pokemon images"> </a> </h1>
    <% } %>
</body>
</html>