<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pokemons</title>
</head>
<body>
    <h1>All Pokemons</h1>
    <div><% for(let i=0; i<pokemons.length; i++) { %>

        <a href="/pokemon/<%= i %>"><img src=<%= pokemons[i].img %> alt="pokemon pic" height="100px"></a>

        

    <% } %> </div>
</body>
</html>