<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Pokedex</title>
</head>
<body>
    <style>
        .col-sm-2{
            border: 5px solid black;
        }
    </style>
    <div class="container-fluid">
        <h1>Pokedex</h1>
        <button type="submit"><a href='/pokemon/new'>Add a New Pokemon</a></button>
        <div class="row">
        <% for(let i=0; i<pokemon.length; i++) { %>
        <div class="col-sm-2">
            <div><h6><%=pokemon[i].name %></h6>
            <a href='/pokemon/<%=i%>'><img src="<%=pokemon[i].img %>" width="100px", height="100px"></a></div>
            <div><button type="submit"><a href='/pokemon/edit'>Edit</a></button>
                <button type="submit"><a href='/pokemon/delete'>Delete</a></button></div>
        </div>
        <% } %>
    </div>
    </div>
    
</body>
</html>