<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Document</title>
</head>
<body class="background"> 
    <h1>Select a Pokémon or add a new catch!</h1>
    <a href="/pokemon/new"><button id="newPokemonButton">Add to Pokédex</button></a>
         <div class="pokedex">
            <% for(let i = 0; i < 10; i++) { %>
                <% let idx = Math.floor(Math.random() * Pokemon.length) %>
                <a href="/pokemon/<%= [idx] %>"><img class="pokemon" src="<%= Pokemon[idx].img %>" alt="pokemon images"> </a>
            <% } %>
        </div>
</body>
</html>