<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css" type="text/css">
    <title>Document</title>
</head>
<body class="background">
    <div class="divForm">
    <h1>Add a new Pokécatch to your Pokédex!</h1>
    <form class="newForm" method="post" action="/pokemon">
        <input type="text" name="id" placeholder="ID: number">
        <br>
        <input type="text" name="name" placeholder="Pokemon name">
        <br>
        <input type="text" name="img" placeholder="Image URL">
        <br>
        <input type="text" name="type" placeholder="Pokemon type">
        <br>
        <input type="text" name="hp" placeholder="hp">
        <br>
        <input type="text" name="attack" placeholder="attack">
        <br>
        <input type="text" name="defense" placeholder="defense">
        <br>
        <input type="text" name="spattack" placeholder="spattack">
        <br>
        <input type="text" name="spdefense" placeholder="spdefense">
        <br>
        <input type="text" name="speed" placeholder="speed">
        <br>
        <input type="Submit" placeholder="Submit">
    </form>
    <a href="/pokemon"><button>Change your mind?</button></a>
    </div>

</body>
</html>