<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a New Pokemon</title>
</head>
<body>
    <h1>Register a New Pokemon</h1>
    <form method="POST" action="/pokemon">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="type">Type:</label>
        <input type="text" name="type" id="type">
        <br>
        <label for="HP">HP:</label>
        <input type="text" name="HP" id="HP">
        <br>
        <label for="Attack">Attack: </label>
        <input type="text" name="Attack" id="Attack">
        <br>
        <label for="Defense">Defense: </label>
        <input type="text" name="Defense" id="Defense">
        <br>
        <input type="submit" value="Create Pokemon" />
        <br>
        <button onclick = "window.location.href='http://localhost:4000/pokemon';">BACK</button>
        </form>
</body>
</html>