<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add a new pokemon</h1>
    <form method="POST" action="/create">
        <label for="date">Date:</label>
        <input type="text" placeholder='Date' name="date" id="date">
        <br>
        <label for="name">Name: </label>
        <input type="text" placeholder='Name' name="name" id="name">
        <br>
        <label for="amount">Amount: </label>
        <input type="text" placeholder='Amount' name="amount" id="amount">
        <br>
        <label for="from">From: </label>
        <input type="text" placeholder='From' name="from" id="from">
        <br>
        <label for="tags">Tags </label>
        <input type="text" placeholder='Tags' name="tags" id="tags">
        <br>
        <button type="submit">Add New Item</button>
        
    </form>
    </div>
    
</body>
</html>