<%- include('./header.ejs', {name: 'This Pokemon!' }) %>
    <h1>This is my individual tasty</h1>
    <img src="<%= tasty.img %>" alt="tasty image">
    <form>
        <input type="submit" value="DELETE"/>
    </form>
    
</body>
</html>