<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>This is my individual pokemon</h1>
    <img src=<%= singlePokemon.img %> alt="pokemon image">
    <h2>Name: <%= singlePokemon.name %></h2>
    <a href="/pokemon/<%= idx %>/edit">Edit this Pokemon</a>
    <a href="/pokemon/<%= idx %>/delete">Delete this Pokemon</a>
</body>
</html>