@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


html {
    background-color: antiquewhite;
}

header {
    height: 200px;
}

.pokedex {
    height: 750px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #c92438;
}

.top {
    height: 80px;
    width: 425px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blue {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #28aafa;
}

.ryg {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 20px;
    align-self: flex-start;
}

.red, .yellow, .green {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.topName {
    height: 40px;
    width: 225px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #2fdc0d;
    border: 1px solid black;
}

.screenBorder {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 20px;
    flex-direction: column;
}

.screen {
    font-family: 'Orbitron', sans-serif;
    width: 360px;
    height: 360px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    color: black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerDiv {
    background-color: antiquewhite;
    height: 60px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slide Show Div */

.slideshow {
    height: 200px;
    width: 200px;
}

.footerDiv {
    background-color: antiquewhite;
    height: 60px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.buttons {
    height: 200px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dpad {
    width: 60px;
    height: 60px;
    position: relative;
    transform: scale(1.5);
}

.dpad div {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #a0a0a0;
    border: 2px solid #606060;
}

.dpad-up {
    top: -1px;
    left: 20px;
}

.dpad-down {
    bottom: -5px;
    left: 20px;
}

.dpad-left {
    top: 20px;
    left: -1px;
}

.dpad-right {
    top: 20px;
    right: -5px;
}

.dpad-middle {
    top: 20px;
    left: 20px;
}
