@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


html {
    background-color: antiquewhite;
}

header {
    height: 200px;
}

.pokedex {
    height: 750px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #c92438;
}

