.background {
    background-image: url("https://w0.peakpx.com/wallpaper/75/47/HD-wallpaper-pokedex-red-pokemon-thumbnail.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
     margin: 0;
     align-items: center;
 }

 .pokemonCard {
    height: 25px;

 }

 img {
    height: 50%;
    width: 50%;
    border-radius: 15px;
 }